
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/*---------------------------- HEADER / BARRA DE NAVEGACION -------------------------- */

.navegacion {
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
}

.barra {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.link-nav {
    color:black;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
}

li {
    font-size: 1rem;
    margin: 0px 20px 0 30px;
}

#contacto {
    color: white;
    background-color:#f5b4b4;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    font-size:1rem;
    font-weight: 500;
    border-radius: 50px;
    border-color: white;
    padding: 10px 18px 10px 18px; 
    }

    #contacto :hover {
    color: white;
    }

#nav-contacto {
    color: white;
    background-color:#f5b4b4;;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    border-color: white;
    padding: 10px 15px 0px 18px;
    margin: 0px 0px 0px 20px;
}



/*--------------------------------- PRESENTACION ---------------------------------------- */

.hola {
  
   width: 90vw;
   height: 75vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
   margin-top: 60px;
   margin-left: 60px;
}


.imagen {
    width: 60%;
}

#ilustracion {
    width: 100%;
}

.nombre {
    width: 40%;
}


#hola-soy{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    padding-bottom: 10px;
   
   
}

#frontend {
    font-size: 5rem;
    font-weight: 800;
    margin: 0px;
    padding-bottom: 50px;
    line-height: 5rem; 

}

#lo-que-hago {
    color: white;
    background-color:#f5b4b4;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size:1rem;
    font-weight: 500;
    border-radius: 50px;
    border-color: white;
    padding: 10px 18px 10px 18px;
   
}

#lo-que-hago :hover {
    color: black;

}
  
   


h2 {
    font-weight: 900;
    font-size: 2.8rem;
}

h3 {
    font-weight: 300;
    font-size: 0.8rem;
}


/*--- SECCION MIS CONOCIMIENTOS-- */

.mis-conocimientos {
    background-color:#CCE3E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.mis-conocimientos > p {
    margin-top: 0px;
}

.contenedor {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.tarjeta {
    width: 200px;
    height: 160px;
    margin: 10px;
    padding: 30px;
    background-color: white;
    border: solid 1px rgb(233, 232, 232);
    border-radius: 2.5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}



.html {
    width: 100px;
    height: auto;
}

.css {
    width: 50px;
    height: 50px;
}

.sass {
    width: 100px;
    height: 90px;
}

.js {
    width: 120px;
    height: auto;
}

.react {
    width: 120px;
    height: auto;
}

.git {
    width: 120px;
    height: auto;
}


.conocimientos > p {
    margin-top: -10px;
    max-width: 600px;
    text-align: center;
}

.contenedor-iconos {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#icono {
    width: 30%;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 35px 25px 35px;
}

.devicon-html5-plain, .devicon-css3-plain, .devicon-sass-original,
.devicon-javascript-plain, .devicon-react-original, .devicon-git-plain {
   font-size: 80px;
}


/*--- SECCION FRASE DE AUTOR-- */


.contenedorfrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f5b4b4;
    padding: 35px 40px 40px 40px;
  
}

.contenedorfrase > p {
    text-align: center;
    max-width: 680px;
    font-size: 1rem;
    color:black;
}



/*--- SECCION PROYECTOS DE PORTFOLIO-- */

.mis-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-proyectos {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.proyecto {
    width: 300px;
    height: 300px;
    border: 1px rgb(192, 192, 192) solid ;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}


.links-proyectos {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    font-size: 1.1rem;
    
}

.links-proyectos > p {
    padding-left: 40px;
    padding-right: 40px;
 
}

#todos {
    color: black;
    background-color: #f5b4b4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    border-color: white;
    padding: 10px 25px 10px 25px;
   margin-top: 10px;
}

#todos :hover {
    color: white;

}

.proyecto > img {
    width:350px;
    height: auto;
    margin-right: 30px;
    margin-top: 30px;
}

.proyecto > #portfolio {
    width:300px;
    height: auto;
    margin-left: 25px;
    margin-bottom: 30px;
   
}


/*------------------------------ FOOTER ----------------------------- */


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CCE3E4;
    padding-top: 30px;
    padding-bottom: 30px;
}


.barra-footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.barra-footer > li {
    font-size: 0.9rem;
}


.redes {
    display: flex;
    flex-direction: row;

}

.icono {
    width: 60%;
}

.firma {
    padding: 30px;
}




